{
  "env": {
    "es6": true,
    "browser": true
  },
  "globals": {
    "__ENV__": true
  },
  "rules": {
    "camelcase": "off",
    "no-mixed-operators": "off",
    "no-useless-escape": "off"
  }
}
