.play-button {
  width: 3em;
  height: 3em;
  padding: 0;
  display: inline-block;
  background-image: url('./svg/play-button.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  color: white;
  background-color: transparent;
  border: .5em solid transparent;
}
