.play-button {
  background-color: transparent;
  border-radius: 2px;
  border: 1px solid white;
  color: white;
  font-size: 1em;
  margin: auto 2px;
  padding: 1em;
  position: relative;

  &:active,
  &:focus {
    outline: none;
  }
}
