$spin-duration:  1s;
$pulse-duration: 750ms;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  25% {
    transform: scale(1.1);
  }
}

.loading {
  position: relative;
}

.loading-spin {
  animation: spin $spin-duration infinite linear;
}

.loading-pulse {
  animation: pulse $pulse-duration infinite linear;
}

.feedback {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 8em;
}

.feedback-tempo {
  line-height: 2em;
  margin: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 4em;
  color: #FFFFFF;
}
