.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  height: 100%;
  color: #FFFFFF;
}

.player-header {
  display: flex;
  justify-content: center;
}
